@charset "UTF-8";

.l-body {
    background-color: var(--background-color-1);
    overflow: hidden;
}

.content-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.l-index-main-content {
    width: 330px;
    height: 500px;

    border-radius: 25px;
    border: 1px solid var(--default-color-1);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    color: var(--default-color-1);
    background-color: var(--background-color-2);
}

.c-entry-title {
    margin: 15px 0px;
    letter-spacing: 2px;

    font-family: "Signika", sans-serif;
}

.c-entry-form {
    width: inherit;
    padding: 0px 15px;
    margin-bottom: 15px;
}

.c-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.c-input-container__input-description {
    font-size:.9em;
    letter-spacing: 1px;
}

.c-input-container__input {
    width: 100%;
    height: 40px;

    margin-bottom: 20px;
    padding-left: 3px;
    padding-right: 40px;
    font-size: 1.1em;

    color: var(--default-color-1);
    background-color: transparent;
    border-bottom: 3px solid var(--default-color-1);
}

.c-eye-icon-container {
    padding: 7px;

    position: absolute;
    right: 3px;
    bottom: 25px;
}

.c-eye-icon {
    font-size: .8em;
}

.c-form-btn {
    width: 300px;
    height: 45px;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2em;
    font-family: "Signika", sans-serif;

    cursor: pointer;
    border-radius: 10px;

    color: var(--default-color-1);
    background-color: var(--background-color-3);
}

.c-btn-change-entry {
    width: 75px;

    position: absolute;
    top: 97.5%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.c-btn-change-entry__image {
    width: inherit;
    height: inherit;

    position: absolute;
    z-index: 0;

}

.c-btn-change-entry__text {
    margin-bottom: 1.5px;
    margin-right: 15px;

    z-index: 1;
    letter-spacing: 1px;

    color: var(--default-color-1);
    font-family: "Signika", sans-serif;
}
