@charset "UTF-8";

.steps-body {
    background-color: var(--form-background-color);
}

.steps-header {
    width: 100vw;

    padding: 30px var(--default-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container-steps-header {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    letter-spacing: 1.5px;
    color: var(--default-color-1);
}

.steps-menu {
    color: var(--default-color-1);
    font-size: 1.5em;
}

.steps-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-1 {
    width: 330px;

    padding: 30px;

    border-radius: 25px;

    background-color: var(--sign-up-login-background-color);
}

.step-1-header {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    letter-spacing: 1px;

    color: var(--default-color-1);
}

.add-button button {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    font-family: "Signika", sans-serif;
    font-size: 1em;
    letter-spacing: 1px;

    color: var(--default-color-1);
    background-color: var(--third-color);
}
