@charset "UTF-8";

.l-list-body {
    background-color: var(--background-color-2);
}

.l-list-header {
    width: 100vw;

    padding: 30px var(--default-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-list-title-container {
    display: flex;
}

.c-list-title {
    letter-spacing: 2px;
    user-select: none;
    color: var(--default-color-1);
    font-family: "Signika", sans-serif;
}

.c-list-title--bigger-size {
    font-size: 	2em;
}

.c-list-title--smaller-size {
    font-size: 1.7em;
}

.c-list-icon-button {
    padding: 10PX;
    margin-left: 2px;
    background-color: transparent;
    color: var(--default-color-1);
}

.l-list-header__menu {
    color: var(--default-color-1);
    font-size: 1.5em;
}

.l-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l-list-container__list-1 {
    width: 330px;

    padding: 30px;

    border-radius: 25px;

    background-color: var(--background-color-1);
}

.l-list-container__header {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    letter-spacing: 1px;

    color: var(--default-color-1);
}

.l-list-container__filter-icon {
    font-size: 1.1em;
}

.c-list-button {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    font-family: "Signika", sans-serif;
    font-size: 1em;
    letter-spacing: 1px;

    color: var(--default-color-1);
    background-color: var(--third-color);
}
