@charset "UTF-8";

.l-work-space-body {
    background-color: var(--background-color-2);
    color: var(--default-color-1);
}

.l-work-space-header {
    padding: 0px 10px;
    margin-bottom: 40px;
}

.l-work-space-header__content {
    height: 55px;

    margin-top: 30px;
    padding: 0px 20px 0px 15px;

    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--background-color-1);
}

.c-logo {
    font-family: "Miltonian", sans-serif;
    font-size: 1.3em;
    letter-spacing: 3px;
}

.c-user-profile {
    width: 33px;
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    font-size: 1.3em;

    color: white;
    background-color: var(--background-color-2);
}

.l-main-content-work-space {
    padding: 0px var(--default-padding);
}

.l-main-content-work-space__header {
    margin-bottom: 30px;
}

.header__content-container {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-container__subtitle {
    font-family: 'Signika', sans-serif;
    letter-spacing: 2px;
}

.header__search {
    position: relative;
}

.search__icon {
    position: absolute;
    left: 15px;
    top: 13px;

    color: var(--secondary-color);
}

.search__input {
    width: 100%;
    height: 40px;

    border-radius: 30px;
    padding-left: 40px;
    padding-right: 15px;

    font-size: 1.1em;

    color: white;
    background-color: var(--background-color-1);
}

.unfinished {
    margin-bottom: 30px;
}

.c-container-slider {
    width: 345px;
    height: 110px;

    overflow: hidden;
    position: relative;
}

.c-slider {
    height: 100%;

    display: flex;
    align-items: center;

    position: absolute;
    left: 0px;
}

.c-plan {
    width: 150px;
    height: 90px;

    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    user-select: none;

    background-color: var(--background-color-1);
}

.c-plan--font {
    letter-spacing: 1.2px;
    font-size: 1em;
    font-family: "Cabin", sans-serif;
}

.finished__title {
    margin-bottom: 20px;

    letter-spacing: 2px;
    font-family: "Signika", sans-serif;
}
